/* HeroesComponent style perso  */

.selected {
    background-color: rgb(29, 101, 133) !important;
    color: rgb(218, 125, 125);
  }
  .heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(230, 229, 179);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li.selected:hover {
    background-color: rgb(7, 219, 247) !important;
    color: rgb(31, 13, 13);
  }
  .heroes li:hover {
    color: rgb(118, 192, 230);
    background-color: rgb(212, 152, 152);
    left: .1em;
  }
  .heroes .text {
    position: relative;
    top: -3px;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: rgb(240, 158, 158);
    padding: 0.8em 0.7em 0 0.7em;
    background-color: rgb(91, 186, 233);
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }